<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/p_icon.png" height="60" title="Frontend" alt=""></td>
        <td><a href="{{site.baseurl}}/princess_stuff/home">Home</a></td>
        <td><a href="{{site.baseurl}}/princess_stuff/mulan">Mulan</a></td>
        <td><a href="{{site.baseurl}}/princess_stuff/moana">Moana</a></td>
        <td><a href="{{site.baseurl}}/princess_stuff/elsa">Elsa</a></td>
        <td><a href="{{site.baseurl}}/princess_stuff/anna">Anna</a></td>
    </tr>
</table>