<table>
    <tr>
        <td><a href="https://joannahu123.github.io/Jo/"><img src="{{site.baseurl}}/images/newfavicon.png" height="60" title="Frontend" alt="shark"></a></td>
        <td><a href="https://joannahu123.github.io/Jo/about/">About</a></td>
        <td><a href="https://joannahu123.github.io/Jo/blogs/">Blogs</a></td>
        <td><a href="https://joannahu123.github.io/Jo/2024/09/08/Sprint_1_grading.html">Sprint 1</a></td>
        <td><a href="https://joannahu123.github.io/Jo/2024/09/05/verify_IPYNB_2_.html">Verify w/JS</a></td>
    </tr>
  </table>